/*EXTRA SMALL SCREEN SIZE (phones, less than 768px)*/
body, html {
    background-color: #F0F0F0;
    width: 100%;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.co-name,
.nav {
    font-family: 'Abel', sans-serif;
}
.co-name {
    font-weight: bold;
    margin-top: 150px;
}
img {
    margin-top: 10px;
    position: absolute;
    float: left;
}
.header-img img {
    width: 100%;
}
.hidden {
    display: none;
}
.visual-web,
.from {
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.nav-links {
    list-style-type: none;
    text-align: center;
    margin-bottom: .5em;
}
.circle {
    border: 10px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /*padding: 35px;*/
    /*padding-bottom: 25px;*/
    padding-top: 50px;
    text-align: center;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    margin-top: 30px;
    margin-right: 35px;
    float: right;
    /*position: relative;*/
}
.icon {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 5px;
    padding-top: .1px;
    /*text-align: center;*/
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-top: 3px;
    margin-right: 3px;
    /*float: right;*/
}
#circle-red {
    background-color: #E6563B;
}
#circle-green {
    background-color: #7CB06C;
}
#circle-blue {
    background-color: #00ABA9;
}
#circle-yellow {
    background-color: #EB9D3A;
}
#icon-rojo {
    background-color: #E6563B;
}
#icon-amarillo {
    background-color: #EB9D3A;
}
#icon-verde {
    background-color: #7CB06C;
}
#icon-azul {
    background-color: #00ABA9;
}
/*SMALL SCRREN (tablets, 768px and up)*/
@media (min-width: 768px) {
    img {
        height: 200px;
    }
    /*.hidden {*/
        /*display: ;*/
    /*}*/
    .co-name {
        margin-top: 200px;
    }
}
