.jumbotron {
    min-height: 200px;
    text-align: center;
    margin: 0;
    /*background-image: url('img/codeup-design-main.png');*/
    /*background-size: 60% 70%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}
/*h1 {*/
    /*height: 100px;*/
    /*background-color: white;*/
/*}*/
.full-width-backhround {
    margin-left: -2000px;
    margin-right: -2000px;
}
.fwb-white {
    background-color: white;
}